{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-first-prop-new-line": 0,
    "react/require-render-return": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "new-cap": 0
  },
  "plugins": [
    "react"
  ]
}
